{{- /* gotype: entgo.io/ent/entc/gen.Type */ -}}
{{- /* A template for setting the field comment. */ -}}
{{- define "model/fieldcomment" -}}
	{{- if $.Comment -}}
 		"{{ $.Comment -}}"
	{{- end -}}
{{- end -}}
# Schema ERD
{{range  $node := $.Nodes }}
```mermaid
---
title: {{if $comment := TableComment $node }} {{$comment}} {{else}} {{ $node.Table }} {{end}}
---
erDiagram
    {{ $node.Table }}  {
        {{- if $node.HasOneFieldID }}
        {{ $node.ID.Type }} id PK{{- if $node.ID.Comment }} "{{ $node.ID.Comment -}}"{{- end }}
        {{- end }}
        {{- range $f := $node.Fields }}
        {{ ERDType $f.Column }} {{ $f.StorageKey }}{{- if $f.IsEdgeField }} FK {{ end }}{{ if not $f.Sensitive }}{{ end }} {{ template "model/fieldcomment" $f }}
        {{- end }}
    }
```
{{ end -}}




